html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}

html {
	overflow-x:hidden;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}


input {
	border: none;
	outline: none;
}

.window {
	width: 100%;
	height: 100%;
}


.header {
	width: 100%;
	height: 45px;
	background-color: #202020;
	margin: 0;
}

.header-container {
	margin: auto 160px;
}

.color-white {
	color: rgba(255, 255, 255, 0.9);
}

.float-right {
	padding: 12px;
	float: right;
}

.float-left {
	padding: 12px;
	float: left;
}

.search {
	margin-left: 317px;
	width: auto;
	padding: 9px;
}

.search-wrapper {
	width: 100%;
}

.search-wrapper input {
	color: #fff;
	background: transparent;
	width: 300px;
}

.search-wrapper {
	border-radius: 3px;
}

.search-wrapper .search-icon {
	position: absolute;
	z-index: 1;
	margin: 3px 0 0 5px;
}

.place-icon {
	color: rgba(204, 204, 204, 0.8) !important;
}

.search-wrapper input{
	padding: 5px 0;
	padding-left: 30px;
	border-radius: 3px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.search-wrapper input::-moz-placeholder {
	color: rgba(204, 204, 204, 0.8) !important;
}

.search-wrapper input::-webkit-input-placeholder {
	color: rgba(204, 204, 204, 0.8) !important;
}

.search-wrapper input:hover{
	background: #575757;
}

.search-wrapper input:focus {
	position: relative;
	background-color: #fff !important;
	width: 70%;
}

.top-icons {
	position: relative;
}

.remind, .add-task, .complete {
	margin-right: 20px;
}

.remind i:hover, .add-task i:hover, .complete i:hover, .setting i:hover{
	cursor: pointer;
	color: rgba(204, 204, 204, 0.8);
}

/** ------------- Main Body ----------------*/

.main-body {
	margin: 0 0 0 160px;
	/*border-left: 1px solid rgb(195, 195, 195);*/
	height: 93vh;
	width: 1126px;
}

.left-menu {
	width: 265px;
	border-right: 1px solid rgba(195, 195, 195, 0.5);
	height: inherit;
	float: left;
}

.list-menu {
	padding: 30px 0 0 30px;
}

.all-task, .today-task, .future-task {
	margin-bottom: 13px;
}

.tasks-manager .task-text {
	font-size: 14px;
	line-height: 1.25;
	margin-left: 20px;
}

a[data-toggle="collapse"] {
	position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    left: 0px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

.project, .tags, .filter{
	border-bottom: 1px solid #f1f1f1;
}

.project > a, .tags > a, .filter > a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    padding-left: 35px;
    width: 80%;
}


.project-add, .tag-add, .filter-add{
	float: right;
	margin-right: 15px;
	margin-top: 5px;
	color: #ccc;
}

.project-add i, .tag-add i, .filter i{
	padding: 5px;
}

.project-add i:hover, .tag-add i:hover, .filter-add i:hover{
	cursor: pointer;
}

.project li, .tags li, .filter li{
	padding: 8px 0;
}

.circle {
  height: 11px;
  width: 11px;
  display: inline-block;
  background: #ccc;
  border-radius: 100%;
  vertical-align: middle;
}

.text {
	margin-left: 20px;
}

.tint-red {
	color: red;
}

.tint-blue {
	color: #2d8cc2;
}

.tint-yellow {
	color: yellow;
}

.tint-orange {
	color: orange;
}

/** --------- Main Content --------- */

.main-content {
	margin-left: 265px;
}

.page-slide {
	position: relative;
}

.theme-img {
	width: 100%;
	height: 200px;
}

.theme-slide li {
	display: none;
}

.theme-slide li.active {
	display: block;
}

.theme-circle {
	width: 20px;
	height: 20px;
	display: inline-block;
    background: #ccc;
    border-radius: 100%;
    vertical-align: middle;
    border: 2px solid #fff;
}

.color-red {
	background-color: #ed8e78;
}

.color-blue {
	background-color: #d9b6e4;
}

.color-cyan {
	background-color: #93e3d2;
}

.circle-nav {
	position: absolute;
	left: 45%;
	top: 75%;
}

.circle-nav ul li {
	display: inline-block;
	width: 30px;
	margin-right: 30px;
}

.circle-nav .active {
	width: 25px;
	height: 25px;
}

/** ---------- Edit Area --------- */

.editor {
	margin: 35px 25px 0 30px;
}

.edit-header a {
	text-decoration: none;
	color: #333;
	font-size: 20px !important;
	font-weight: normal;
}

.edit-header span {
	color: #999 !important;
	margin-left: 6px;
	font-size: 11px;
	font-weight: normal;
}

.edit-task-add {
	margin: 10px 0 0 10px;
}

.edit-task-add a{
	color: #ccc;
	text-decoration: none;
}

.edit-task-add a:hover {
	color: #3d3d3d;
}

.edit-task-add a i{
	margin-right: 12px;
}

.edit-area {
	border: 1px solid #ccc;
	height: 40px;
	border-radius: 3px;
	margin: 20px auto;
}

.area-wrapper {
	float: left;
	width: 66%;
	height: 100%;
	border-right: 1px solid #ccc;
}

.edit-wrapper {
	padding: 8px 8px 8px 12px;
	width: 96%;
}

.edit-wrapper .edit-input {
	font-size: 14px;
	line-height: 1.25;
	width: 100%;
}

.edit-time {
	margin: 0px;
	box-shadow: none;
}

input.edit-input::-moz-placeholder {
	color: rgba(204, 204, 204, 0.8) !important;
}

input.edit-input::-webkit-input-placeholder {
	color: rgba(204, 204, 204, 0.8) !important;
}

.task-info {
	height: 35px;
	margin-bottom: 10px;
}

.task-submit a {
	margin-top: 5px;
	padding: 8px;
}

.task-submit .add-btn {
	background-color: #383838;
	color: white;
	border-radius: 3px;
}

.task-icon span {
	margin-right: 10px;
}

.task-icon span:hover {
	cursor: pointer;
}

/** ---------- Timeline ---------- */
.timeline-title {
	padding: 15px 0 5px 30px;
	border-bottom: 1px solid rgba(195, 195, 195, 0.5);
}

.timeline-title a {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5;
}

.timeline {
	overflow-y: scroll;
	height: 244px;
}

.timeline-wrapper {
	margin-left: 68px;
	height: 100%;
	border-left: 1px solid rgba(195, 195, 195, 0.5);
}

.simple-task {
	height: 180px;
}

.simple-task .task-time {
	padding-top: 10px;
}

.simple-task .task-time .circle {
	margin-left: -6px;
	padding: 0;
	margin-top: 8px;
}

.simple-task .task-time .real-time{
	display: inline-block;
	padding-top: 5px;
	color: #999;
	margin-left: 10px;
}

.task-info {
	margin-top: 10px;
}

.task-circle {
	padding: 0;
	margin-left: -10px;
}

.task-circle span {
	width: 20px;
	height: 20px;
	display: inline-block;
    border-radius: 100%;
    background-color: #fff;
    vertical-align: middle;
    border: 2px solid #48b7e9;
}

.task-content {
	margin-left: 16px;
}

.detail-info {
	color: #999;
	height: auto;
}

.detail-info span {
	margin-right: 10px;
}

.detail-info .remind-time i{
	margin-right: 5px;
}

.detail-info span i:hover{
	cursor: pointer;
}

.detail-tags {
	margin-top: 10px;
}

.detail-tags span {
	display: inline-block;
	padding-right: 10px;
	margin-right: 5px;
}

.detail-tags span i {
	color: #999;
}

.detail-tags .tag {
	padding-left: 10px;
	background-color: #f8f8f8;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
}

.detail-tags .tag:hover {
	background-color: #E5F8FE;
	border-color: #95D8F5;
}

.detail-projects {
	color: white;
	margin-top: 10px;
}

.detail-projects span {
	display: inline-block;
	padding: 4px 10px;
	background-color: #383838;
	border-radius: 4px;
	margin-right: 10px;
}

.detail-projects span i {
	margin-right: 4px;
}

.task-end .circle {
	margin-left: -6px;
	padding: 0;
	margin-top: 8px;
}

.task-end .real-time {
	display: inline-block;
	padding-top: 5px;
	color: #999;
	margin-left: 10px;
}

/* ------------------------Task Edit ------------------------- */

.task-edit {
	position: absolute;
	width: 425px;
	height: 100%;
	top: 45px;
	right: -425px;
	z-index: 666;
	box-shadow: -2px 0 #ccc;
}

.edit-header {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 35px;
}

.edit-header span {
	display: inline-block;
	font-size: 15px;
	border-radius: 100%;
	padding: 0;
}

/*
.edit-header span:hover{
	background-color: #bcd7b7;
	cursor: pointer;
}*/

.edit-header span i {
	padding: 8px;
}

.edit-header i.edit-close:hover{
	color: #fadac9;
}

.edit-header .edit-delte {
	margin-right: 20px;
}

.edit-header .close {
	margin-right: 20px;
}

.edit-content {
	height: 35px;
	background-color: #fceee9;
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
}

.edit-content .important {
	float: left;
	margin: 3px 10px 0 10px;
}


.edit-content .important span {
	display: inline-block;
	width: 27px;
	height: 27px;
	border-radius: 100%;
	border: 2px solid #e06e46;
}

.edit-content .content {
	padding: 5px 0;
}

.select-important {
	height: 35px;
	border-bottom: 1px solid #ccc;
}

.important-wrapper {
	float: left;
}

.important-wrapper p {
	display: none;
	margin: 0;
	float: right;
	margin-top: 7px;
}

.important-wrapper div, .important-wrapper p.active {
	display: inline-block;
}

.important-wrapper div {
	height: 25px;
	width: 25px;
	border-radius: 100%;
	margin: 4px 10px;
}

.important-wrapper div:hover {
	cursor: pointer;
}

.important-wrapper div span {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	margin: 5px;
}

.important-wrapper div.important-urgen {
	border: 2px solid #d36740;
}

.important-wrapper div.important-urgen span{
	background-color: #d36740;
}

.important-wrapper div.important-nurgen {
	border: 2px solid #fac96a;
}

.important-wrapper div.important-nurgen span{
	background-color: #fac96a;
}

.important-wrapper div.nimportant-urgen {
	border: 2px solid #a6dbfc;
}

.important-wrapper div.nimportant-urgen span{
	background-color: #a6dbfc;
}

.important-wrapper div.nimportant-nurgen {
	border: 2px solid #c9d991;
}

.important-wrapper div.nimportant-nurgen span{
	background-color: #c9d991;
}

.edit-time {
	height: 35px;
	border-bottom: 1px solid #ccc;
}

.edit-time .time-icon {
	font-size: 20px;
	margin-left: 12px;
	margin-right: 10px;
	color: rgba(204, 204, 204, 0.8);
}

.edit-reminder {
	height: 35px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.edit-reminder .reminder-icon {
	margin-left: 9px;
	color: rgba(204, 204, 204, 0.8);
	margin-right: 10px;
}

.edit-project {
	height: 35px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.edit-project .project-icon {
	margin-left: 9px;
	color: rgba(204, 204, 204, 0.8);
	margin-right: 10px;
}

.edit-tags {
	height: 35px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.edit-tags .tag-icon {
	float: left;
	color: rgba(204, 204, 204, 0.8);
	margin-left: 10px;
	margin-right: 10px;
}

.tag-wrapper {
	display: inline-block;
	margin-top: 2px;
	margin-right: 10px;
	position: relative;
}

.tag-wrapper .tag {
	padding: 4px 15px;
	background-color: #f8f8f8;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
}

.tag-wrapper .tag:hover {
	background-color: #E5F8FE;
	border-color: #95D8F5;
}

.tag-wrapper .delete {
	display: inline-block;
	padding: 0 3px;
	font-size: 6px;
	height: 14px;
	background-color: #e68282d6;
	position: absolute;
	top: -5px;
	left: 50px;
	border-radius: 100%;
}
.tag-wrapper .delete:hover {
	cursor: pointer;
}