<!DOCTYPE html>
<html>

<head>
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="vendor/angularjs/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body ng-app="APP" ng-controller="Controller">
    <div class="task-edit">
        <div class="edit-header">
            <span class="float-right close"><i class="fa fa-close edit-close"></i></span>
            <span class="float-right"><i class="fa fa-trash-o"></i></span>
        </div>
        <div class="edit-content">
            <div class="important"><span></span></div>
            <div class="content">没什么任务</div>
        </div>
        <div class="select-important">
            <div class="important-wrapper">
                <div class="important-urgen"><span></span></div>
                <p class="active">重要-紧急</p>
            </div>
            <div class="important-wrapper">
                <div class="important-nurgen"><span></span></div>
                <p>重要-不紧急</p>
            </div>
            <div class="important-wrapper">
                <div class="nimportant-urgen"><span></span></div>
                <p>不重要-紧急</p>
            </div>
            <div class="important-wrapper">
                <div class="nimportant-nurgen"><span></span></div>
                <p>不重要-不紧急</p>
            </div>
        </div>
        <div class="edit-time">
            <span class="time-icon"><i class="fa fa-clock-o"></i></span>
            <span>2018-05-17 20:10</span>
        </div>
        <div class="edit-reminder">
            <span class="reminder-icon"><i class="fa fa-bell"></i></span>
            <span>提前5分钟提醒</span>
        </div>
        <div class="edit-project">
            <span class="project-icon"><i class="fa fa-tasks"></i></span>
            <span>个人</span>
        </div>
        <div class="edit-tags">
            <div class="tag-icon">
                <span><i class="fa fa-bookmark"></i></span>
            </div>
            <div class="tag-wrapper">
                <span class="tag">美食</span>
                <span class="delete">&times;</span>
            </div>
            <div class="tag-wrapper">
                <span class="tag">电影</span>
                <span class="delete">&times;</span>
            </div>
        </div>
    </div>
    <div class="window">
        <div class="header">
            <div class="header-container">
                <div class="logo float-left">
                    <a href="#">
                        <i class="fa fa-envira color-white logo-icon" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="top-icons float-right">
                    <span class="add-task">
                        <i class="fa fa-plus color-white"></i>
                    </span>
                    <span class="complete">
                        <i class="fa fa-diamond color-white"></i>
                    </span>
                    <span class="remind">
                        <i class="fa fa-bell color-white"></i>
                    </span>
                    <span class="setting">
                        <i class="fa fa-gear  fa-fw color-white"></i>
                    </span>
                </div>
                <div class="search">
                    <div class="search-wrapper">
                        <span class="search-icon"><i class="fa fa-search place-icon"></i></span>
                        <input type="text" name="search" placeholder="快速查找">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="left-menu">
                <div class="list-menu">
                    <div class="tasks-manager">
                        <div class="all-task">
                            <span><i class="fa fa-inbox"></i></span>
                            <span class="task-text">收件箱</span>
                        </div>
                        <div class="today-task">
                            <span><i class="fa fa-calendar-check-o"></i></span>
                            <span class="task-text">今天</span>
                        </div>
                        <div class="future-task">
                            <span><i class="fa fa-calendar"></i></span>
                            <span class="task-text">未来7天</span>
                        </div>
                    </div>
                    <div class="tags-manager">
                        <div class="project">
                            <span class="project-add"><i class="fa fa-plus"></i></span>
                            <a href="#page_detail" data-toggle="collapse" aria-expanded="false">项目</a>
                            <ul class="collapse" id="page_detail">
                                <li>
                                    <div class="single-project">
                                        <span class="circle"></span>
                                        <span class="text">个人</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-project">
                                        <span class="circle color-red"></span>
                                        <span class="text">购物</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-project">
                                        <span class="circle color-blue"></span>
                                        <span class="text">工作</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-project">
                                        <span class="circle color-cyan"></span>
                                        <span class="text">杂项</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tags">
                            <span class="tag-add"><i class="fa fa-plus"></i></span>
                            <a href="#tag_detail" data-toggle="collapse" aria-expanded="false">标签</a>
                            <ul class="collapse" id="tag_detail">
                            </ul>
                        </div>
                        <div class="filter">
                            <span class="filter-add"><i class="fa fa-plus"></i></span>
                            <a href="#filter_detail" data-toggle="collapse" aria-expanded="false">过滤</a>
                            <ul class="collapse" id="filter_detail">
                                <li>
                                    <div class="single-project">
                                        <span class="fa fa-tint tint-red"></span>
                                        <span class="text">优先级1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-project">
                                        <span class="fa fa-tint tint-blue"></span>
                                        <span class="text">优先级2</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-project">
                                        <span class="fa fa-tint tint-yellow"></span>
                                        <span class="text">优先级3</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-project">
                                        <span class="fa fa-tint tint-orange"></span>
                                        <span class="text">优先级4</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="page-slide">
                    <div class="theme-slide">
                        <ul id="list_theme">
                            <li class="active"><img src="images/theme/theme1.png" class="theme-img"></li>
                            <li><img src="images/theme/theme2.png" class="theme-img"></li>
                            <li><img src="images/theme/theme3.png" class="theme-img"></li>
                            <li><img src="images/theme/theme4.png" class="theme-img"></li>
                        </ul>
                    </div>
                    <div class="circle-nav">
                        <ul>
                            <li><span class="theme-circle color-cyan active"></span></li>
                            <li><span class="theme-circle color-blue"></span></li>
                            <li><span class="theme-circle color-red"></span></li>
                            <li><span class="theme-circle"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="editor">
                    <div class="edit-header">
                        <a href="#" class="edit-today">今天</a>
                        <span>星期六 5月12日</span>
                    </div>
                    <div class="edit-area">
                        <div class="area-wrapper">
                            <div class="edit-task-tag"></div>
                            <div class="edit-wrapper">
                                <input type="text" class="edit-input" placeholder="每天读书p3 @目标#个人" ng-model="task_text">
                            </div>
                        </div>
                        <input id="datetimepicker" title="datetimepicker" class="edit-time" ng-model="datetime" />
                    </div>
                    <div class="task-info">
                        <div class="task-icon float-right">
                            <span data-toggle="tooltip" title="项目"><i class="fa fa-book"></i></span>
                            <span data-toggle="tooltip" title="提醒"><i class="fa fa-clock-o"></i></span>
                            <span data-toggle="tooltip" title="优先级"><i class="fa fa-flag"></i></span>
                        </div>
                        <div class="task-submit">
                            <a href="#" class="add-btn" ng-click="postTask()"><span>添加任务</span></a>
                            <a href="#" class="cancel">取消</a>
                        </div>
                    </div>
                </div>
                <!-- Timeline -->
                <div class="timeline-title">
                    <a href="#">清单时间线</a>
                </div>
                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div ng-repeat="task in tasks">
                            <div class="task-wrapper">
                                <div class="count-down float-right">
                                    <canvas></canvas>
                                </div>
                                <div class="simple-task">
                                    <div class="task-time">
                                        <span class="circle float-left"></span>
                                        <span class="real-time">{{ task.create_time }}</span>
                                    </div>
                                    <div class="task-info">
                                        <div class="task-circle float-left">
                                            <span></span>
                                        </div>
                                        <div class="task-content">
                                            <p class="content-text">{{ task.content }}</p>
                                            <div class="detail-info">
                                                <span class="remind-time"><i class="fa fa-bell"></i>2018-05-15 21:55</span>
                                                <span><i class="fa fa-edit" id="editTask" ng-click="editTask()"></i></span>
                                            </div>
                                            <div class="detail-tags">
                                                <span><i class="fa fa-bookmark"></i></span>
                                                <span class="tag">美食</span>
                                                <span class="tag">电影</span>
                                            </div>
                                            <div class="detail-projects">
                                                <span class="project"><i class="fa fa-tasks"></i>个人</span>
                                                <span class="project"><i class="fa fa-tasks"></i>购物</span>
                                                <span class="project"><i class="fa fa-tasks"></i>工作</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="task-end">
                            <span class="circle float-left"></span>
                            <span class="real-time">已加载全部内容</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
    <!-- jQuery CDN -->
    <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script type="text/javascript" src="js/home.js"></script>
    <script type="text/javascript" src="js/canvas.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // create DateTimePicker from input HTML element
        $("#datetimepicker").kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });
    });
    </script>
    <script type="text/javascript" src="js/task.js"></script>
</body>

</html>